---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
import { features } from "@/lib/featureFlags";

// Filter footer menu items based on feature flags
const filteredFooter = menu.footer.filter((item) => {
  if (item.url === "/elements" && !features.elements_page) {
    return false;
  }
  return true;
});
---

<footer
  class="footer fixed right-0 bottom-0 left-0 z-20 w-full overflow-hidden"
>
  <div class="container max-w-full">
    <div class="row items-center">
      <div class="hidden lg:col-3 lg:block"></div>
      <div class="col-12 text-center lg:col-6 lg:mb-0">
        <Social source={social.main} className="social-icons" />
      </div>
      <div class="hidden text-center lg:col-3 lg:block lg:text-right">
        <div
          class="text-text/70 dark:text-darkmode-text/70 hidden text-sm sm:block"
        >
          <a
            href="/rss.xml"
            class="hover:text-primary transition-colors duration-200 dark:hover:text-white"
            title="RSS Feed"
          >
            RSS
          </a>
          <span class="mx-2">|</span>
          <a
            href="/atom.xml"
            class="hover:text-primary transition-colors duration-200 dark:hover:text-white"
            title="Atom Feed"
          >
            Atom
          </a>
          <span class="mx-2">|</span>
          <a
            href="/feed.json"
            class="hover:text-primary transition-colors duration-200 dark:hover:text-white"
            title="JSON Feed"
          >
            JSON
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
