---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
import { features } from "@/lib/featureFlags";

// Filter footer menu items based on feature flags
const filteredFooter = menu.footer.filter((item) => {
  if (item.url === "/elements" && !features.elements_page) {
    return false;
  }
  return true;
});
---

<footer class="footer sticky bottom-0">
  <div class="container">
    <div class="row items-center">
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:text-left">
      </div>
      <div class="mb-8 text-center lg:col-6 lg:mb-0">
        <ul>
          {
            filteredFooter.map((menu) => (
              <li class="m-3 inline-block">
                <a href={menu.url}>{menu.name}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:mt-0 lg:text-right">
        <Social source={social.main} className="social-icons" />
      </div>
    </div>
  </div>
</footer>
