:root {
  --font-primary: "Heebo", sans-serif;
  --font-secondary: "Heebo", sans-serif;
}

html {
  @apply text-base-sm md:text-base;
}

body {
  @apply bg-body dark:bg-darkmode-body font-primary text-text dark:text-darkmode-text text-base leading-relaxed font-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary text-text-dark dark:text-darkmode-text-dark leading-tight;
}

h1,
.h1 {
  font-size: 2.6873856rem;
  font-weight: 800;
}

/* Ensure h1 within semantic elements maintains consistent font-size */
article h1,
aside h1,
nav h1,
section h1 {
  font-size: 2.6873856rem;
}

h2,
.h2 {
  font-size: 2.239488rem;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 1.86624rem;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 1.5552rem;
  font-weight: 600;
}

h5,
.h5 {
  font-size: 1.296rem;
  font-weight: 400;
}

h6,
.h6 {
  font-size: 1.08rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 2.9859839999999997rem;
  }

  /* Ensure h1 within semantic elements maintains consistent font-size */
  article h1,
  aside h1,
  nav h1,
  section h1 {
    font-size: 2.9859839999999997rem;
  }

  h2,
  .h2 {
    font-size: 2.48832rem;
  }

  h3,
  .h3 {
    font-size: 2.0736rem;
  }

  h4,
  .h4 {
    font-size: 1.728rem;
  }

  h5,
  .h5 {
    font-size: 1.44rem;
  }

  h6,
  .h6 {
    font-size: 1.2rem;
  }
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

blockquote > p {
  @apply my-0!;
}
