---
import Base from "@/layouts/Base.astro";
import GalaxyAnimation from "@/helpers/GalaxyAnimation";
import DynamicHomepageHook from "@/helpers/DynamicHomepageHook";
---

<Base>
  <!-- Galaxy Animation Background -->
  <section
    class="bg-body dark:bg-darkmode-body relative h-screen overflow-hidden"
  >
    <GalaxyAnimation client:only="react" className="absolute inset-0" />
    <!-- Optional overlay content can be added here -->
    <div class="absolute inset-0 z-10 flex items-center justify-center">
      <DynamicHomepageHook
        client:only="react"
        className="text-text text-h1-sm md:text-h1 text-center font-bold dark:text-white"
        style="-220px"
      />
    </div>
  </section>
</Base>

<style>
  html,
  body {
    overflow: hidden;
    height: 100vh;
  }
</style>
