---
import TradingStrategyCard from "@/components/TradingStrategyCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import PageHeader from "@/partials/PageHeader.astro";

export async function getStaticPaths() {
  const TRADING_STRATEGIES_FOLDER = "trading-strategies";
  const tags = await getTaxonomy(TRADING_STRATEGIES_FOLDER, "tags");

  return tags.map((tag) => {
    return {
      params: { tag },
    };
  });
}

const { tag } = Astro.params;

// get posts by tag
const TRADING_STRATEGIES_FOLDER = "trading-strategies";
const posts = await getSinglePage(TRADING_STRATEGIES_FOLDER);
const filterByTags = taxonomyFilter(posts, "tags", tag!);
const sortedPosts = sortByDate(filterByTags);
---

<Base title={tag}>
  <PageHeader title={tag} />
  <div class="section-sm pb-0">
    <div class="container">
      <div class="row">
        {
          sortedPosts.map((post) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <TradingStrategyCard data={post} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Base>
