---
import Base from "@/layouts/Base.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";

const TRADING_STRATEGIES_FOLDER = "trading-strategies";

const tags = await getTaxonomy(TRADING_STRATEGIES_FOLDER, "tags");
const allTags = await getAllTaxonomy(TRADING_STRATEGIES_FOLDER, "tags");
---

<Base title={"Trading Strategy Tags"}>
  <PageHeader title={"Trading Strategy Tags"} />
  <section class="section">
    <div class="container text-center">
      <ul>
        {
          tags.map((tag: any) => {
            const count = allTags.filter((c) => c === tag).length;
            return (
              <li class="m-3 inline-block">
                <a
                  href={`/trading-strategies/tags/${tag}`}
                  class="bg-light text-text-dark dark:bg-darkmode-light dark:text-darkmode-text-dark block rounded px-4 py-2 text-xl"
                >
                  {humanize(tag)}{" "}
                  <span class="bg-body dark:bg-darkmode-body ml-2 rounded px-2">
                    {count}
                  </span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </section>
</Base>
