---
import support from "@/config/support.json";
import { FaCoffee, FaPaypal } from "react-icons/fa";
import { GiGlassShot } from "react-icons/gi";

const { className }: { className?: string } = Astro.props;

// Icon mapping for support platforms
const iconMap = {
  FaCoffee: FaCoffee,
  FaPaypal: FaPaypal,
  FaJar: GiGlassShot, // Using glass shot icon for tip jar
};

const { platforms } = support;
---

<ul class={`${className}`}>
  {
    platforms.map((platform) => {
      const IconComponent = iconMap[platform.icon as keyof typeof iconMap];
      return (
        <li class="inline-block">
          <a
            aria-label={platform.aria_label}
            href={platform.link}
            target="_blank"
            rel="noreferrer noopener"
            class="origin-center transform-gpu transition-transform duration-200 hover:[transform:scale(1.08)]"
          >
            <IconComponent />
          </a>
        </li>
      );
    })
  }
</ul>
