---
import Base from "@/layouts/Base.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";

const BLOG_FOLDER = "blog";

const categories = await getTaxonomy(BLOG_FOLDER, "categories");
const allCategories = await getAllTaxonomy(BLOG_FOLDER, "categories");
---

<Base title={"Categories"}>
  <PageHeader title={"Categories"} />
  <section class="section">
    <div class="container text-center">
      <ul>
        {
          categories.map((category: string) => {
            const count = allCategories.filter((c) => c === category).length;
            return (
              <li class="m-3 inline-block">
                <a
                  href={`/categories/${category}`}
                  class="group bg-light text-text-dark dark:bg-darkmode-light dark:text-darkmode-text-dark hover:bg-primary dark:hover:bg-darkmode-primary hover:text-text-light dark:hover:text-text block rounded px-4 py-2 text-xl transition-colors duration-200"
                >
                  {humanize(category)}{" "}
                  <span class="bg-body dark:bg-darkmode-body ml-2 rounded px-2 transition-colors duration-200 group-hover:bg-white group-hover:text-black">
                    {count}
                  </span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </section>
</Base>
